body {
overflow-y:scroll;
}
text {
font: 12px sans-serif;
}
svg {
display: block;
}
.container_way, .container_obj , .container_line {
margin-top: 30px;
}
#chart_way{
height: 300px;
}
#chart_node{
height: 300px;
}
#chart_relation{
height: 300px;
margin-top: 50px;
}
#chart_obj{
height: 400px;
}
#chart_line{
height: 500px;
}
.date-form { margin: 10px; }
label.control-label span { cursor: pointer; }
#date-picker-2{
z-index: 9999;
}
#date-picker-3{
z-index: 9999;
}
.date_form{
margin-left: 0px;
margin-right: 0px;
padding-left: 0px;
padding-right: 0px;
}
.title_date{
margin-top: -7px;
margin-left: 0px;
margin-right: 5px;
padding-left: -10px;
text-align: right;
}

.loading:after {
background: url(../img/ajax-loader.gif) no-repeat;
content: "Loading...";
color: #666;
left: 50%;
height: 16px;
line-height: 16px;
margin-top: -8px;
margin-left: -40px;
position: relative;
font-size: 12px;
text-indent: 26px;
top: -80%;
width: 80px;
z-index: 2;
display:block;
}
.calendar-off table.ui-datepicker-calendar {
    display:none !important;
}



.MonthDatePicker .ui-datepicker-year
{
    display:none;   
}


.YearDatePicker .ui-datepicker-month
{
    display:none;   
}


.container_relation small , .container_way small ,.container_node small,.container_obj small {
	font-size: 16px;
	color: #9b9b9b;

}


/*

 */
body {
  overflow-y:scroll;
  font-family: arial;
}

text {
  font: 12px sans-serif;
}

.chart {
  float:left;
  height: 500px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2em;
}
.chart.full {
  width: 100%;
}

.chart.half {
  width: 50%;
}

.chart.third {
  width: 33%;
}

.chart.selected {
  width: 100% !important;
}

.navigation a{
  margin-right: 1em;
}

.navigation {
  margin-bottom: 1em;
}