body {
overflow-y:scroll;
}
text {
font: 12px sans-serif;
}
svg {
display: block;
}
.container_way{
margin-top: 30px;
}
#chart_way{
height: 300px;
}
#chart_node{
height: 300px;

}
#chart_relation{
height: 300px;
margin-top: 50px;
}
.date-form { margin: 10px; }
label.control-label span { cursor: pointer; }
#date-picker-2{
z-index: 9999;
}