input {
    border-radius: 15px;
}

.axis text {
    font: 11px sans-serif;
}

#chart svg{
    max-width:100%;
    height:auto;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}